/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}
/* 页面样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

#image-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

#random-image {
    width: 150px; /* 设置图片的大小 */
    height: auto;
    border-radius: 10px; /* 可选，圆角效果 */
    cursor: pointer;    /* 添加鼠标点击的手型指针*/
}
